body {
    background-color: #f5f5f5;
}
header nav a{
    font-size: 20px;
    margin-right: 50px;
    color: black;
    font-weight: bolder;
}
header h1{
    background-color: rgb(196, 193, 193);
    color: rgb(47, 100, 47);
}
main h2{
    color: rgb(238, 71, 71);
    font-size: xx-large;
}
main p{
    font-size: 20px;
}
#qus-1{
    background-color: royalblue;
    color: rgb(238, 231, 231);
}
#qus-2{
    background-color: rgb(247, 68, 68);
    color: black;
}
#qus-3{
    background-color: rgb(2, 2, 2);
    color: rgb(243, 75, 75);
}
#qus-4{
    background-color: rgb(1, 59, 1);
    color: rgb(170, 164, 164);
}
footer span{
    font-size: x-large;
    color: red;
}